/*--------------------------IMAGE ASSOCIATES LOGOS------------------------*/

#block-image-logos-footer-associate{
  
    background: #2B2F34;
    display: flex;
    justify-content: center;
      img{
        padding-top: 10px;
        border-top: 1px solid #4c5057;
        
      }
  }