

#block-industriesmaincontent{
    display: flex;
    justify-content: center;
    margin:0 350px 1365px 0;
    color: #373F49;
    line-height: 156%;
    margin-top: 15px;
    li{
        list-style-type: none;
        background: url(/sites/default/files/2023-05/ul-list-image.png) no-repeat left 8px;
        padding-left: 14px;
        }

    p{
        margin: 1em 0;
    }

    td{
        a{
            text-decoration: none;
            color:#3DAFFF;

             &:hover{
                text-decoration: underline;
             }
        }
    }

    .contact-button{
        a{
        width: 182px;
        height: 53px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
        font-weight: 600;
        line-height: 52px;
        display: block;
        text-decoration: none;
        background: url(/sites/default/files/2023-05/content-contact-button.png) no-repeat left top;
        text-indent: 58px;
        color: #373F49;
        text-decoration: none;
        text-shadow: 1px 1px 2px #fff;         
        }

    }
        
    }



.layout-sidebar {
    position: relative;
    top: -850px;
    display: flex;
    flex-direction: column;
    width: 320px; /* ajusta el ancho a tus necesidades */
    height: 100vh;
    margin-left: 1520px; /* ajusta el margen a tus necesidades */
    position: absolute;
    top: 577px;
    right: 380px;
  }

  
    
